src/main/resources/wsdls/riskfort/ArcotRiskFortEvaluateRiskService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="wsdl-viewer.xsl"?>
<wsdl:definitions
	xmlns:rfevalrisk="http://ws.arcot.com/RiskFortEvaluateRiskAPI/3.0/wsdl"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	targetNamespace="http://ws.arcot.com/RiskFortEvaluateRiskAPI/3.0/wsdl"
	name="RiskFortEvaluateRiskAPI">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		attributeFormDefault="qualified" elementFormDefault="qualified"
			targetNamespace="http://ws.arcot.com/RiskFortEvaluateRiskAPI/3.0/wsdl">

			<!-- START OF COMPLEX TYPES -->
			<xs:complexType name="DeviceIDItemType">
				<xs:annotation>
					<xs:documentation>
						This represents a single key-value mapping where
						key can be either "HTTP_COOKIE" or
						"FLASH_COOKIE" and value is the actual deviceID
						generated by RiskFort
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="deviceIDItem" minOccurs="0"
						maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="deviceIDType"	type="xs:string" minOccurs="1" maxOccurs="1"/>
								<xs:element name="deviceIDValue" type="xs:string" minOccurs="1" maxOccurs="1"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<!--
						<xs:element name="deviceIDType" type="xs:string" minOccurs="0"/>
						<xs:element name="deviceID" type="xs:string" minOccurs="0"/>
					-->
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="AdminContextType">
				<xs:annotation>
					<xs:documentation>Information about Admin and credentials</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="orgName" type="xs:string" maxOccurs="1" minOccurs="0" />
					<xs:element name="adminName" type="xs:string" maxOccurs="1" minOccurs="0" />
					<xs:element name="locale" type="xs:string" maxOccurs="1" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="NameValueType">
				<xs:annotation>
					<xs:documentation>
						Represents a name value pair
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="name" type="xs:string" maxOccurs="1" minOccurs="1" />
					<xs:element name="value" type="xs:string" maxOccurs="1" minOccurs="1" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="ServerError">
				<xs:annotation>
					<xs:documentation>
						RiskFortFault is the structure returned as a
						fault for any errors occuring at the server.
						responseCode provides the response of server. It
						will help to find out the nature of error.
						errorMessage provides the readable user friendly
						text corresponding to errorCode. errorCode
						indicates what error occurred. See server
						documentation for possible error codes.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1"
						name="responseCode" type="xs:int">
						<xs:annotation>
							<xs:documentation>
								Response code from RiskFort Server.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="1" name="errorMessage"
						nillable="true" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								Error message from RiskFort Server.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" maxOccurs="1"
						name="paramName" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								The parameter which had invalid value.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" maxOccurs="1"
						name="paramValue" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								Invalid parameter value which caused this error.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="1" maxOccurs="1"
						name="reasonCode" type="xs:int">
						<xs:annotation>
							<xs:documentation>
								Reason code from RiskFort Server.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="1" maxOccurs="1"
						name="transactionID" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								Transaction identifier for this transaction.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="RiskFortSuccess">
				<xs:annotation>
					<xs:documentation>
						RiskFortSuccess is an empty structure that defines
						a successful response to a request. It is used
						whenever a response message is only required to
						indicate that the request was fulfilled.
						Typically it is used in conjunction with
						RiskFortFault which is handled as a fault message
						instead of a response message.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element minOccurs="1" maxOccurs="1"
						name="successMessage" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								Success message from RiskFort Server.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="1" maxOccurs="1"
						name="transactionID" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								Transaction Identifier for this transaction.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="DeviceContextType">
				<xs:annotation>
					<xs:documentation>
						Contains deviceID and signature generated by
						Arcot RiskFort fingerprinting client script and
						server components. Only one of AggregatorID or
						DeviceIDs should be specified. Aggegator ID
						should be specified if the call is being made in
						the context of an aggregator's request;
						otherwise DeviceId(s) should be supplied if
						available from the client.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
						<xs:element name="aggregatorID" type="xs:string"
							maxOccurs="1" minOccurs="0" />
						<xs:element name="deviceIDs"
							type="rfevalrisk:DeviceIDItemType" maxOccurs="1" minOccurs="0">
						<!--	<xs:unique
								name="deviceIDUniqueConstraint">
								<xs:selector xpath="deviceIDs" />
								<xs:field xpath="deviceIDType" />
							</xs:unique>  -->
						</xs:element>
					<xs:element name="deviceSignature" type="xs:string"
						maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								The signature for the device as returned
								by Arcot RiskFort fingerprinting client
								script.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="shortDeviceSignature" type="xs:string"
							maxOccurs="1" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="LocationContextType">
				<xs:annotation>
					<xs:documentation>
						Contains a client's geolocation information. The clientIPAddress
						is an input and all other fields are returned by the server.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="clientIPAddress" type="xs:string" maxOccurs="1" minOccurs="0" />
					<xs:element name="longitude" type="xs:float" maxOccurs="1" minOccurs="0" />
					<xs:element name="latitude" type="xs:float" maxOccurs="1" minOccurs="0" />
					<xs:element name="continent" type="xs:string" maxOccurs="1" minOccurs="0" />
					<xs:element name="country" type="xs:string" maxOccurs="1" minOccurs="0" />
					<xs:element name="countryISO2" type="xs:string" maxOccurs="1" minOccurs="0" />
					<xs:element name="region" type="xs:string" maxOccurs="1" minOccurs="0" />
					<xs:element name="state" type="xs:string" maxOccurs="1" minOccurs="0" />
					<xs:element name="city" type="xs:string" maxOccurs="1" minOccurs="0" />
					<xs:element name="connectionType" type="xs:string" maxOccurs="1" minOccurs="0" />
					<xs:element name="lineSpeed" type="xs:string" maxOccurs="1" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="TransactionContextType">
				<xs:annotation>
					<xs:documentation>
						Contains a client's transaction information.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="action" type="xs:string" maxOccurs="1" minOccurs="0" nillable="true" />
					<xs:element name="channel" type="xs:string" maxOccurs="1" minOccurs="0" nillable="true" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="UserContextType">
				<xs:annotation>
					<xs:documentation>
						Information about the user and credentials.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="orgName" type="xs:string" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								Name of the organization to which user belongs
								to. If not specified, RiskFort will use
								the default organization name.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userName" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								Identifier of the user for whom RiskFort
								call is being made.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="UserDeviceAssociationType">
				<xs:sequence>
					<xs:element name="associationName"
						type="xs:string">
						<xs:annotation>
							<xs:documentation>
								Descriptive name for the association.
								For example "Office PC".
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="creationDate"
						type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>
								Date of creation of the association.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="deviceID" type="xs:string" />
					<xs:element name="status" type="xs:int">
						<xs:annotation>
							<xs:documentation>
								Valid values of status are
							</xs:documentation>
							<xs:documentation>
								0 is inactive
							</xs:documentation>
							<xs:documentation>
								1 is Active
							</xs:documentation>
							<xs:documentation>
								2 is unknown status
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="DeleteAssociationRequestType">
				<xs:sequence>
					<xs:element name="callerId" type="xs:string"
						maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								Identifier passed by the application to co-relate multiple API calls.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="userContext"
						type="rfevalrisk:UserContextType">
						<xs:annotation>
							<xs:documentation>
								User Contextual Information.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="associationName" type="xs:string"
						maxOccurs="1" minOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Descriptive name for an association of a
								user with a device.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element type="rfevalrisk:AdminContextType" maxOccurs="1" minOccurs="0" nillable="true" name="adminContextType">
						<xs:annotation>
							<xs:documentation>AdminContext defination</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element type="rfevalrisk:NameValueType"
						maxOccurs="unbounded" minOccurs="0" name="additionalInput"
						nillable="true" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="DeleteAssociationResponseType">
				<xs:sequence>
					<xs:element type="rfevalrisk:RiskFortSuccess" maxOccurs="1"
						minOccurs="0" name="riskfortSuccess" nillable="true"/>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="ListAssociationsRequestType">
				<xs:sequence>
					<xs:element name="callerId" type="xs:string"
						maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								Identifier passed by the application to co-relate multiple API calls.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="userContext"
						type="rfevalrisk:UserContextType" maxOccurs="1" minOccurs="1">
						<xs:annotation>
							<xs:documentation>
								User Contextual Information.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element type="rfevalrisk:AdminContextType" maxOccurs="1" minOccurs="0" nillable="true" name="adminContextType">
						<xs:annotation>
							<xs:documentation>AdminContext defination</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element type="rfevalrisk:NameValueType"
						maxOccurs="unbounded" minOccurs="0" name="additionalInput"
						nillable="true" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="ListAssociationResponseType">
				<xs:sequence>
					<xs:element name="association" minOccurs="0" maxOccurs="unbounded"
						type="rfevalrisk:UserDeviceAssociationType" />

					<xs:element type="rfevalrisk:RiskFortSuccess" maxOccurs="1"
					minOccurs="0" name="riskFortSuccess" nillable="true"/>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="EvaluateRiskRequestType">
				<xs:sequence>
					<xs:element name="callerId" type="xs:string"
						maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								Identifier passed by the application to co-relate multiple API calls.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="deviceContext"
						type="rfevalrisk:DeviceContextType" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								Client device information.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="locationContext"
						type="rfevalrisk:LocationContextType" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								Client's geo-location information.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userContext"
						type="rfevalrisk:UserContextType" maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								User information.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="transactionContext"
						type="rfevalrisk:TransactionContextType" maxOccurs="1" minOccurs="0" nillable="true">
						<xs:annotation>
							<xs:documentation>
								Client's transaction information information.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element type="rfevalrisk:AdminContextType" maxOccurs="1" minOccurs="0" nillable="true" name="adminContextType">
						<xs:annotation>
							<xs:documentation>AdminContext defination</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element type="rfevalrisk:NameValueType"
						maxOccurs="unbounded" minOccurs="0" name="additionalInput"
						nillable="true" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="RiskAssessmentType">
				<xs:sequence>
					<xs:element name="advice" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								Advice is the response given by RiskFort to indicate the risk associated
								with the transaction and the corresponding action to be taken by the application.
								Possible advices are :
								ALLOW		 - Allow transaction to proceed
								ALERT		 - User is not a known user, enroll the user
								INCREASEAUTH - Perform Additional Authentication
								DENY		 - Deny the	transaction
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="outputDeviceID" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								This is the output deviceID genarated by the RiskFort.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="score" >
						<xs:annotation>
							<xs:documentation>
								Risk score is information in addition to advice that gives accurate score for the
								transaction.
							</xs:documentation>
						</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:integer">
							<xs:minInclusive value="0" />
							<xs:maxInclusive value="100" />
						</xs:restriction>
					</xs:simpleType>
					</xs:element>
					<xs:element name="matchedRuleMnemonic" type="xs:string" nillable="true">
						<xs:annotation>
							<xs:documentation>
								The matched rule mnemonic (server-generated).
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ruleAnnotation" type="xs:string" nillable="true">
						<xs:annotation>
							<xs:documentation>
								Annotation string for the rules result (server-generated).
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="transactionID" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								Unique identifier for transaction (server-generated).
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="deviceContext"
						type="rfevalrisk:DeviceContextType">
						<xs:annotation>
							<xs:documentation>
								Client Device Context.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="locationContext"
						type="rfevalrisk:LocationContextType">
						<xs:annotation>
							<xs:documentation>
								Client's geo-location information.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="userContext"
						type="rfevalrisk:UserContextType">
						<xs:annotation>
							<xs:documentation>
								User Contextual Information.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="transactionContext"
						type="rfevalrisk:TransactionContextType" maxOccurs="1" minOccurs="0" nillable="true">
						<xs:annotation>
							<xs:documentation>
								Client's transaction information.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element type="rfevalrisk:NameValueType"
						maxOccurs="unbounded" minOccurs="0" name="additionalOutput"
						nillable="true" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="EvaluateResponseType">
				<xs:sequence>
					<xs:element name="riskAssessment" minOccurs="1" maxOccurs="1"
						type="rfevalrisk:RiskAssessmentType" />

					<xs:element type="rfevalrisk:RiskFortSuccess" maxOccurs="1"
						minOccurs="0" name="riskFortSuccess" nillable="true"/>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="PostEvaluateRequestType">
				<xs:sequence>
					<xs:element name="callerId" type="xs:string"
						maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								Identifier passed by the application to co-relate multiple API calls.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="riskAssessment"
						type="rfevalrisk:RiskAssessmentType" maxOccurs="1" minOccurs="1">
						<xs:annotation>
							<xs:documentation>
								The output from evaluateRisk call is
								passed as an argument to postEvaluate
								call
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="secondaryAuthenticationStatus"
						type="xs:boolean" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>
								The boolean value from the secondary
								authentication mechanism. True if the
								secondary authentication is successful,
								otherwise false.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element name="associationName" type="xs:string"
						maxOccurs="1" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								Descriptive association name for user's device.
								eg: "Office PC".
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element type="rfevalrisk:AdminContextType" maxOccurs="1" minOccurs="0" nillable="true" name="adminContextType">
						<xs:annotation>
							<xs:documentation>AdminContext defination</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element type="rfevalrisk:NameValueType"
						maxOccurs="unbounded" minOccurs="0" name="additionalInput"
						nillable="true" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="PostEvaluateResponseType">
				<xs:sequence>
					<xs:element name="isAllowAdvised"
						type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								isAllowAdvised is true if the final
								access to the user is allowed and false
								in all other cases.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element type="rfevalrisk:RiskFortSuccess" maxOccurs="1"
					minOccurs="0" name="riskFortSuccess" nillable="true"/>
				</xs:sequence>
			</xs:complexType>

			<!-- END OF COMPLEX TYPES -->

			<!--  START OF RISKFORT SPECIFIC USERDEFINED ELEMENTS -->

			<xs:element name="RiskFortFault"
				type="rfevalrisk:ServerError">
				<xs:annotation>
					<xs:documentation>
						Riskfort Fault Codes
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="DeleteAssociationRequest"
				type="rfevalrisk:DeleteAssociationRequestType">
				<xs:annotation>
					<xs:documentation>
						Inputs for deleteAssociation operation
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="DeleteAssociationResponse"
				type="rfevalrisk:DeleteAssociationResponseType">
				<xs:annotation>
					<xs:documentation>
						Response for deleteAssociation operation
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="ListAssociationsRequest"
				type="rfevalrisk:ListAssociationsRequestType">
				<xs:annotation>
					<xs:documentation>
						Inputs for listAssociations operation
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="ListAssociationsResponse"
				type="rfevalrisk:ListAssociationResponseType">
				<xs:annotation>
					<xs:documentation>
						Response for listAssociations operation
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="EvaluateRiskRequest"
				type="rfevalrisk:EvaluateRiskRequestType">
				<xs:annotation>
					<xs:documentation>
						Inputs for evaluateRisk operation
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="EvaluateRiskResponse"
				type="rfevalrisk:EvaluateResponseType">
				<xs:annotation>
					<xs:documentation>
						This is a response from
						evaluateRiskAfterLogin operation which contains
						risk advice and possibly a new deviceID which should be placed on the
						user's device.
						Typical way of placing the deviceID on user's machine is to set it as
						browser cookie.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="PostEvaluateRequest"
				type="rfevalrisk:PostEvaluateRequestType">
				<xs:annotation>
					<xs:documentation>
						Request for postEvaluate operation
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="PostEvaluateResponse"
				type="rfevalrisk:PostEvaluateResponseType">
				<xs:annotation>
					<xs:documentation>
						Response from postEvaluate operation
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!--  END OF RISKFORT SPECIFIC USERDEFINED ELEMENTS -->
		</xs:schema>
	</wsdl:types>

	<!-- MESSAGE ELEMENTS DESCRIBE THE INPUT OUTPUT PARAMETERS -->
	<wsdl:message name="deleteAssociationRequestMessage">
		<wsdl:part name="parameters"
			element="rfevalrisk:DeleteAssociationRequest" />
	</wsdl:message>
	<wsdl:message name="deleteAssociationResponseMessage">
		<wsdl:part name="parameters"
			element="rfevalrisk:DeleteAssociationResponse" />
	</wsdl:message>
	<wsdl:message name="evaluateRiskRequestMessage">
		<wsdl:part name="parameters" element="rfevalrisk:EvaluateRiskRequest" />
	</wsdl:message>
	<wsdl:message name="evaluateRiskResponseMessage">
		<wsdl:part name="parameters" element="rfevalrisk:EvaluateRiskResponse" />
	</wsdl:message>
	<wsdl:message name="listAssociationsRequestMessage">
		<wsdl:part name="parameters"
			element="rfevalrisk:ListAssociationsRequest" />
	</wsdl:message>
	<wsdl:message name="listAssociationsResponseMessage">
		<wsdl:part name="parameters"
			element="rfevalrisk:ListAssociationsResponse" />
	</wsdl:message>
	<wsdl:message name="postEvaluateRequestMessage">
		<wsdl:part name="parameters" element="rfevalrisk:PostEvaluateRequest" />
	</wsdl:message>
	<wsdl:message name="postEvaluateResponseMessage">
		<wsdl:part name="parameters" element="rfevalrisk:PostEvaluateResponse" />
	</wsdl:message>
	<wsdl:message name="riskfortFaultMessage">
		<wsdl:part name="parameters" element="rfevalrisk:RiskFortFault" />
	</wsdl:message>

	<!-- PORTTYPE ELEMENT DESCRIBES THE ABSTRACT INTERFACE OF A WEBSERVICE -->
	<wsdl:portType name="EvaluateRiskAPIPortType">

		<wsdl:operation name="deleteAssociation">
			<wsdl:documentation>
				Deletes user-device association(s).
			</wsdl:documentation>
			<wsdl:input
				message="rfevalrisk:deleteAssociationRequestMessage" />
			<wsdl:output
				message="rfevalrisk:deleteAssociationResponseMessage" />
			<soap12:fault name="riskfortFault"
				message="rfevalrisk:riskfortFaultMessage" />
		</wsdl:operation>

		<wsdl:operation name="evaluateRisk">
			<wsdl:documentation>
				Evaluate risk immediately after a username/password
				login has succeeded.
			</wsdl:documentation>
			<wsdl:input message="rfevalrisk:evaluateRiskRequestMessage" />
			<wsdl:output message="rfevalrisk:evaluateRiskResponseMessage" />
			<soap12:fault name="riskfortFault"
				message="rfevalrisk:riskfortFaultMessage" />
		</wsdl:operation>

		<wsdl:operation name="listAssociations">
			<wsdl:documentation>
				List out all the associations for the given user.
			</wsdl:documentation>
			<wsdl:input
				message="rfevalrisk:listAssociationsRequestMessage" />
			<wsdl:output
				message="rfevalrisk:listAssociationsResponseMessage" />
			<soap12:fault name="riskfortFault"
				message="rfevalrisk:riskfortFaultMessage" />
		</wsdl:operation>

		<wsdl:operation name="postEvaluate">
			<wsdl:documentation>
				Feedback API provided by the system to keep its
				information uptodate. The calls and actual updates
				might be real-time or offline. This can be used to
				create/update user-device risk attribute
				information. Responce from Evalute Risk will be
				passed to Post Evalutaion.
			</wsdl:documentation>
			<wsdl:input message="rfevalrisk:postEvaluateRequestMessage" />
			<wsdl:output message="rfevalrisk:postEvaluateResponseMessage" />
			<soap12:fault name="riskfortFault"
				message="rfevalrisk:riskfortFaultMessage" />
		</wsdl:operation>
	</wsdl:portType>

	<!-- BINDING TELLS US WHICH PROTOCOLS AND ENCODING STYLES ARE USED AND ASSIGNS PORTTYPE AND ITS OPERATIONS TO THAT PROTOCOL -->
	<wsdl:binding name="EvaluateRiskAPISOAP11Binding"
		type="rfevalrisk:EvaluateRiskAPIPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="deleteAssociation">
			<soap:operation soapAction="urn:deleteAssociation30B11"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<soap12:fault name="riskfortFault">
				<soap:fault name="riskfortFault" use="literal" />
			</soap12:fault>
		</wsdl:operation>

		<wsdl:operation name="evaluateRisk">
			<soap:operation soapAction="urn:evaluateRiskEx30B11"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<soap12:fault name="riskfortFault">
				<soap:fault name="riskfortFault" use="literal" />
			</soap12:fault>
		</wsdl:operation>

		<wsdl:operation name="listAssociations">
			<soap:operation soapAction="urn:listAssociations30B11"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<soap12:fault name="riskfortFault">
				<soap:fault name="riskfortFault" use="literal" />
			</soap12:fault>
		</wsdl:operation>

		<wsdl:operation name="postEvaluate">
			<soap:operation soapAction="urn:postEvaluate30B11"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<soap12:fault name="riskfortFault">
				<soap:fault name="riskfortFault" use="literal" />
			</soap12:fault>
		</wsdl:operation>
	</wsdl:binding>


	<wsdl:binding name="EvaluateRiskAPISOAP12Binding"
		type="rfevalrisk:EvaluateRiskAPIPortType">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />

		<wsdl:operation name="deleteAssociation">
			<soap12:operation soapAction="urn:deleteAssociation3012"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
			<soap12:fault name="riskfortFault">
				<soap12:fault name="riskfortFault" use="literal" />
			</soap12:fault>
		</wsdl:operation>

		<wsdl:operation name="evaluateRisk">
			<soap12:operation soapAction="urn:evaluateRiskEx30B12"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
			<soap12:fault name="riskfortFault">
				<soap12:fault name="riskfortFault" use="literal" />
			</soap12:fault>
		</wsdl:operation>

		<wsdl:operation name="listAssociations">
			<soap12:operation soapAction="urn:listAssociations30B12"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
			<soap12:fault name="riskfortFault">
				<soap12:fault name="riskfortFault" use="literal" />
			</soap12:fault>
		</wsdl:operation>

		<wsdl:operation name="postEvaluate">
			<soap12:operation soapAction="urn:postEvaluate30B12"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
			<soap12:fault name="riskfortFault">
				<soap12:fault name="riskfortFault" use="literal" />
			</soap12:fault>
		</wsdl:operation>
	</wsdl:binding>

	<!-- SERVICE ASSIGNS AN INTERNET ADDRESS TO A BINDING THROUGH PORTS  -->
	<wsdl:service name="RiskFortEvaluateRiskSvc">
		<wsdl:port name="EvaluateRiskAPISOAP11Port"
			binding="rfevalrisk:EvaluateRiskAPISOAP11Binding">
			<soap:address
				location="http://ws.arcot.com/services/RiskFortEvaluateRiskSvc" />
		</wsdl:port>
		<wsdl:port name="EvaluateRiskAPISOAP12Port"
			binding="rfevalrisk:EvaluateRiskAPISOAP12Binding">
			<soap12:address
				location="http://ws.arcot.com/services/RiskFortEvaluateRiskSvc" />
		</wsdl:port>
	</wsdl:service>


</wsdl:definitions>
